<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Field_Sales_SystemTests.Properties.Settings.dbConnectionString"
            connectionString="&quot;Database=proximoDB;Data Source=us-cdbr-azure-central-a.cloudapp.net;User Id=b5fb261919a40c;Password=aff5b96f&quot;" />
    </connectionStrings>
</configuration>